.transactions {
  
  display: flex;
  flex-direction: column;gap: 16px;
  background-color: var(--background-color-2);
  padding: 20px;
  border-radius: 20px;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr  2fr 3fr;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  overflow: hidden;
}   
.header {
  font-size: 18px;
  display: contents;
  color: var(--headline-color);
  background-color: var(--background-color-2);
  font-weight: bold;
}
.header .cell{
  /* background-color: white; */
}

.row {
  font-size: 14px;
  display: contents;
}

.cell {
  padding: 12px 16px;
  /* border-right: 1px solid #ccc; */
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.cell:last-child {
  border-right: none;
}

.row:last-child {
  border-bottom: none;
}



.row:last-child .cell{
  border-bottom: none;
}
.pagination{
  display: flex;
  justify-content: center;
}
.filters{
  display: flex;
  gap: 20px;
  align-items: end;
  margin: 30px 0 10px;
}
.info{
  margin-top: 10px;
  margin-left: 16px;
  white-space:nowrap;
}