.container{
  padding: 20px;
  border-radius: 20px;
  background-color: #f4f4f5;
  align-items: center;
}
.charts{
  display: flex;
  gap: 40px;
}
.chart{
  width: 100%;
}
.filters{justify-content: center;
  display: flex;
  gap: 20px;
  align-items: center;
}