
@font-face {
  font-family: 'ALSHauss-Bold';
  src: url('./fonts/ALSHauss-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
:root {
  --background-color: #00aae6;
  --headline-color: #00aae6;
  --background-color-main: white;
  --text-color: #000;
  --background-color-2: #f4f4f5;
  --background-color-3: #f7f7f8;
  --background-color-4: #fbfbfd;
  --button-hover: #005aae;
  --button-reverse: #ededed;
}

.dark-mode {
  --button-reverse: #7e7e7e;
  --button-hover: #222222b5;
  --background-color: #222222;
  --headline-color: #fbfbfd;
  --background-color-3: #8e8e8e;
  --background-color-main: #3e3f40;
  --text-color: #fbfbfd;
  --background-color-2: #8e8e8e;
  --background-color-4: #8e8e8e;
}
body {
  font-family: 'ALSHauss-Bold', sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
  font-weight: 700;
  font-size: 22px;
}

h3{
  font-size: 28px;
}
h2{
  color: var(--headline-color);
  font-size: 36px;
}
*{
  scrollbar-width: 8px;
  scrollbar-color:  inherit;

}
*::-webkit-scrollbar{
  width: 8px;
    background-color: inherit;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 rem(6) rgba(#000, 20%);
  border-radius: 4px;
  background:  inherit;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #00a9e6d7;
  cursor:grab;
}
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 0 none #fff;
  background-color: var(--background-color);

  
}
ul,li,h1,h2,h3,h4,h5,h6,p{
  padding: 0;margin: 0;

}
a{
  color: inherit;
  text-decoration: none;
}
