.layout {
  display: flex;
  min-height: 100vh;
}


.main {
  max-width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color-main);
  flex: 1;
  padding: 20px;
  padding-top: 50px;
  padding-left: 340px;
  transition: all .3s linear;
}
.mainFull{
  padding-left: 20px;
}
