.sidebar{
  background-color: var(--background-color);
  width: 100%;
  max-width: 320px;
  padding: 20px;
  position: fixed;
  padding-top: 60px;
  bottom: 0;
  transition: all .3s linear;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 101;
  border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.toggle{
  position: absolute;
  top: 16px;
  left: 20px;
}
.close{
  transition: all .3s linear;
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--background-color-4);
  cursor:pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 30px;
  transform: translateX(70px);
}
.label{
  color: var(--background-color-4);
}
.close.openClose span{
  background-color: var(--background-color-4);
}
.close.openClose span:first-child{
  transform: translateY(9px) rotate(45deg);
}
.close.openClose span:last-child{
  transform: translateY(-9px) rotate(-45deg);
}
.close.openClose span:nth-child(2){
  opacity: 0;
}
.close.openClose{
  transform: none;
}
.close span{
  transition: all .3s linear;
  width: 100%;
  height: 3px;
  background-color: var(--background-color);
  border-radius: 10px;
}
.list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.budget{
  color: var(--background-color-4);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.name{
  color: var(--background-color-4);
  font-size: 22px;
}
.userTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.role{
  opacity: .7 ;
  color: var(--background-color-4);
  font-size: 18px;
  margin-top:6px;
  margin-bottom: 16px;
}
.link{
  /* font-size: 24px; */
  gap: 16px;
  color: var(--background-color-4);
  display: grid;
  grid-template-columns: 24px auto;
}
.loading{
  color: var(--background-color-4);
}