.container {
  
  display: flex;
  gap: 40px;
  flex-direction: column;
  /* flex-wrap: wrap */
}

.balanceInfo {
  display: flex;
  flex-direction: column;gap: 16px;
  background-color: var(--background-color-2);
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
}
.prop{
  display: flex;
  justify-content: space-between;align-items: center;
  font-size: 18px;
  color: #a5b4c4;
  
}
.prop span{
  color: #000;
}

.mainHeadline{
  width: 100%;
}
.headline{
  
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 1;
}
.balance{
  font-size: 28px;
  color: var(--headline-color);
}
