.container{
  padding: 20px;
  border-radius: 20px;
  background-color: #f4f4f5;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* width: ; */
}
.headline{
  width: 100%;
}
.modalHeadline{
  width: 100%;
  text-align: center;
  display: flex;justify-content: center;
}